<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper"
          queueLimit="10000"
          timeToSleepBetweenBatches="100"
          batchSize="1000"
          overflowAction="Grow" />

    <target xsi:type="File"
                name="file"
                encoding="utf-8"
                layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
                fileName="D:\LogFiles\NetCoreGrpcServer\NetCoreGrpcServer.log"
                archiveFileName="D:\LogFiles\NetCoreGrpcServer\NetCoreGrpcServer.{#}.log"
                archiveNumbering="Date"
                archiveEvery="Hour"
                archiveDateFormat="yyyyMMdd-HH"
                maxArchiveFiles="24" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>